body.dark-mode,
.dark-mode #grid,
.dark-mode main,
.dark-mode #grid-container,
.dark-mode #more-recipes-container {
  background-color: #1a1a1a;
}
.grid-content.dark-mode,
.dark-mode #main-recipe,
.dark-mode #ingredients,
.dark-mode #more-recipes,
.dark-mode #form-container {
  background-color: #2f2f2f;
}
.dark-mode #preparation-time,
.dark-mode input,
.dark-mode textarea {
  background-color: #4e4d4e;
  color: #dfdfdf;
}
.dark-mode table,
.dark-mode td {
  border-bottom: 1px solid #4e4d4e;
}
.dark-mode input::placeholder,
.dark-mode textarea::placeholder {
  color: #b0b0b0;
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode p,
.dark-mode ul,
.dark-mode ol,
.dark-mode table,
.dark-mode td,
.dark-mode span,
.dark-mode a,
.dark-mode label {
  color: #dfdfdf;
}
.dark-mode ul,
.dark-mode ol,
.dark-mode p {
  font-weight: 300;
}
.dark-mode span {
  font-weight: 500;
}
