/* main */
main {
  max-width: 1200px;
  margin: 15px auto;
  padding: 0 15px;
}

/* hero */

#hero {
  display: flex;
  background-image: url(../media/img/hero.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  font-size: xx-large;
  align-items: center;
  height: 300px;
  margin-bottom: 15px;
}
#hero h1 {
  margin-left: 5%;
}
#hero-container h2 {
  font-size: 160%;
  margin-bottom: 15px;
}

/* grid */

#grid {
  background-color: #f3e5d8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  grid-template-areas:
    "A B C"
    "D E F";
}
#grid-content-A {
  grid-area: A;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
#grid-content-B {
  grid-area: B;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
#grid-content-C {
  grid-area: C;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
#grid-content-D {
  grid-area: D;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
#grid-content-E {
  grid-area: E;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
#grid-content-F {
  grid-area: F;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
#grid img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-radius: 5px;
}
#grid h2 {
  margin: 10px;
}
#grid ul {
  margin: 10px 0 10px 30px;
}

/* media query tablet */

@media screen and (max-width: 769px) {
  #grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "A B"
      "C D"
      "E F";
  }
}

/* media query mobile */

@media screen and (max-width: 480px) {
  #grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "A"
      "B"
      "C"
      "D"
      "E"
      "F";
  }
}
